<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>25810055892-cdvtcu9in7lp8d8sg99ei5namgf5m904.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.25810055892-cdvtcu9in7lp8d8sg99ei5namgf5m904</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>25810055892-io0nqs8jmppn32kq3olajeq777po5l6e.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCe6s3W4vIJHt_5WFersyqnlSyMABUEPyc</string>
	<key>GCM_SENDER_ID</key>
	<string>25810055892</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mrakesh0608.Sahaay</string>
	<key>PROJECT_ID</key>
	<string>sahaay-6a05b</string>
	<key>STORAGE_BUCKET</key>
	<string>sahaay-6a05b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:25810055892:ios:d9df702ff3e31df1c30141</string>
	<key>DATABASE_URL</key>
	<string>https://sahaay-6a05b-default-rtdb.firebaseio.com</string>
</dict>
</plist>